.App {
  text-align: center;
  /* Combine all background properties into a single 'background' declaration */
  background:
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./img/wc.png') top right / 1000px no-repeat,
    linear-gradient(341deg, rgba(5,3,42,1) 20%, rgba(9,5,55,1) 57%, rgba(18,27,91,1) 79%, rgba(26,40,136,1) 91%, rgba(68,97,172,1) 100%, rgba(90,125,179,1) 100%), /* Gradient layer */
    rgb(3, 4, 31); /* Solid color layer */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* Set the container to cover the screen vertically */
}

.teams{
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 100px;
}

.wcLogo{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 1000px;
  height: 1000px;
  opacity: 0.5; /* Adjust the opacity value */
}